ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 36px;
  font-weight: 400;
  line-height: 22px;
}

li a:hover {
  color: #59adff;
}

.active{
  border-bottom: 1px solid #59adff;
  margin-left: 10px;
}
